:root {
  background-color: #ecf5ff;
  font-size: 82.5%;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

.choice-container {
  display: flex;
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
  border: 0.1rem solid rgb(86,165,235,0.25);
  background-color: white;
  color: black;
}

.choice-container:hover {
  background-color: grey;
  transition: 400ms;
  cursor: pointer;
  transform: scale(0.95);
}


.choice-container:hover p {
 color: white;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: #56a6eb;
  color: white;
}

h1 {
  font-size: 55px;
  text-align: center;
  transition: 600ms;
  padding-top: 7px;
  padding-bottom: 7px;
}

h2 {
  font-size: 32px;
  text-align: center;
  transition: 600ms;
  padding-top: 7px;
  padding-bottom: 7px;
}

p {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 17px;
  padding-bottom: 17px;
}

.button {
  font-size: 1.8rem;
  padding: 1rem 0;
  width: 20rem;
  text-align: center;
  border: 0.1rem solid #56a5eb;
  border-radius: 115px;
  margin-bottom: 1rem;
  text-decoration: none;
  color: #56a5eb;
  background-color: white;
  display: inline-block;
  /*Default Hover Animation*/
  -webkit-transition: padding 2s;
}

/* Animation */
.button:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(16, 125, 170, 5.5);
  background-color: #56a5eb;
  transition: ease-in-out 436.2ms;
  color: white;
  transform: scale(1.1);
}

.button[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

/* Stops the button from being placed on the edge of the screen */
.container-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
