:root {
  background-color: #ecf5ff;
  font-size: 82.5%;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

/* Font */

h1 {

}

h2 {

}

h3 {

}

h4 {

}

/* End of Fonts */

flex-center flex-column {

}
